.container {
    display: flex;
    flex-direction: column;
    /* width: 90vw; */
    /* width: min(100%, 950px); */
    margin: auto;
}

.notesMain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 90vw;
    flex-wrap: wrap;
}

.notesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 16rem;
    height: 20vh;
    gap: 10px;
    color: aliceblue;
    border-radius: 25px;
    background-color: rgb(65, 62, 62);
}

.notesFoot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}

.notesFormat {
    display: flex;
    gap: 20px;
}

.notesContent {
    /* display: inline-block; */
    width: 250px;
    height: 100px;
    overflow: scroll;
    word-break: break-all;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.notesContent::-webkit-scrollbar {
    display: none;
}

.title{
    font-size: 20px;
    font-weight: 900;
    /* border: 1px solid; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    color: orange;
}

.delete {
    cursor: pointer;
}

.edit {
    cursor: pointer;
}

.date {
    font-size: 10px;
    color: yellowgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}